#include "Resources.h"

STRINGTABLE
BEGIN
    IDR_LIBID                         LIB_NAME
END

IDR_LIBID MENU
BEGIN
    MENUITEM "Настройки",            MENU_SETTINGS
    MENUITEM "Отправить в слайсере", MENU_OPEN_SLICER
    MENUITEM "Экспорт в STL",        MENU_EXPORT_STL
    MENUITEM "Экспорт в STEP",       MENU_EXPORT_STEP
    MENUITEM "Экспорт в X_T",        MENU_EXPORT_X_T
    MENUITEM "Экспорт в VRLM",       MENU_EXPORT_VRLM
    MENUITEM "Создать шестерню",     MENU_GEAR
    MENUITEM "Создать рейку",        MENU_RACK
    MENUITEM "О программе",          MENU_ABOUT
END