#define IDR_LIBID                       100
#define MENU_SETTINGS                   1
#define MENU_OPEN_CURA                  2
#define MENU_EXPORT_STL                 3
#define MENU_EXPORT_STEP                4
#define MENU_EXPORT_IGS                 5
#define MENU_EXPORT_X_T                 6
#define MENU_EXPORT_ACIS                7
#define MENU_EXPORT_VRLM                8
#define MENU_ABOUT                      20

STRINGTABLE 
BEGIN
    IDR_LIBID               "Kompas 3D Print"
END

IDR_LIBID MENU
BEGIN
    MENUITEM "Настройки",         MENU_SETTINGS
    MENUITEM "Отправить в Cura",  MENU_OPEN_CURA
    MENUITEM "Экспорт в STL",     MENU_EXPORT_STL
    MENUITEM "Экспорт в STEP",    MENU_EXPORT_STEP
    MENUITEM "Экспорт в X_T",     MENU_EXPORT_X_T
    MENUITEM "Экспорт в VRLM",    MENU_EXPORT_VRLM
    MENUITEM "О программе",       MENU_ABOUT
END